# Binance API Tutorial Pt.1

#### Full Binance Docs
https://python-binance.readthedocs.io/en/latest/index.html

### Import Packages

In [17]:
import os
import pandas as pd
import time
from binance.client import Client
from binance.enums import *

### Initialize Client

In [36]:
client = Client()

### Make API Call to get the candle information of Bitcoin

In [37]:
data = client.get_klines(symbol="BTCUSDT", interval=KLINE_INTERVAL_1DAY, limit=10)
print(data)

[[1626307200000, '32820.03000000', '33185.25000000', '31133.00000000', '31880.00000000', '51639.57635300', 1626393599999, '1652077965.43655981', 1099367, '24866.40578700', '795831015.69614899', '0'], [1626393600000, '31874.49000000', '32249.18000000', '31020.00000000', '31383.87000000', '48499.86415400', 1626479999999, '1538342711.57965672', 1067591, '23963.74456800', '760274744.55207078', '0'], [1626480000000, '31383.86000000', '31955.92000000', '31164.31000000', '31520.07000000', '34012.24213200', 1626566399999, '1072815966.33630751', 883442, '16649.05130800', '525240023.82137983', '0'], [1626566400000, '31520.07000000', '32435.00000000', '31108.97000000', '31778.56000000', '35923.71618600', 1626652799999, '1140964365.64660148', 760979, '17554.18265300', '557709781.11918031', '0'], [1626652800000, '31778.57000000', '31899.00000000', '30407.44000000', '30839.65000000', '47340.46849900', 1626739199999, '1470563281.93650284', 846029, '22709.51004500', '705480091.14467479', '0'], [1626739200000, '30839.65000000', '31063.07000000', '29278.00000000', '29790.35000000', '61034.04901700', 1626825599999, '1821230700.02039109', 1062139, '28424.82505000', '847855259.13993829', '0'], [1626825600000, '29790.34000000', '32858.00000000', '29482.61000000', '32144.51000000', '82796.26512800', 1626911999999, '2603140706.08222436', 1415058, '42584.67221900', '1338356405.54193175', '0'], [1626912000000, '32144.51000000', '32591.35000000', '31708.00000000', '32287.83000000', '46148.09243300', 1626998399999, '1482763544.95053643', 1000742, '23274.51280500', '747848528.87672003', '0'], [1626998400000, '32287.58000000', '33650.00000000', '31924.32000000', '33634.09000000', '50112.86362600', 1627084799999, '1631947003.07304657', 1394786, '25018.97707900', '815391041.19337381', '0'], [1627084800000, '33634.10000000', '34500.00000000', '33401.14000000', '34328.77000000', '39274.13839700', 1627171199999, '1329169294.32462998', 910811, '19692.94814800', '666687073.66311540', '0']]

### Clean Data

In [38]:
data_dict = {
    "Open time":[],
    "Open price":[],
    "High price":[],
    "Low price":[],
    "Close price":[],
    "Volume":[],
    "Close time":[]
                  }

for candle in data:
    open_time = dt.datetime.fromtimestamp(candle[0]/1000).strftime("%Y/%m/%d")
    close_time = dt.datetime.fromtimestamp(candle[6]/1000).strftime("%Y/%m/%d")
    data_dict["Open time"].append(open_time)
    data_dict["Open price"].append(float(candle[1]))
    data_dict["High price"].append(float(candle[2]))
    data_dict["Low price"].append(float(candle[3]))
    data_dict["Close price"].append(float(candle[4]))
    data_dict["Volume"].append(round(float(candle[5]),2))
    data_dict["Close time"].append(close_time)

df = pd.DataFrame(data_dict)

df

,Open time,Open price,High price,Low price,Close price,Volume,Close time
0,2021/07/14,32820.03,33185.25,31133.00,31880.00,51639.58,2021/07/15
1,2021/07/15,31874.49,32249.18,31020.00,31383.87,48499.86,2021/07/16
2,2021/07/16,31383.86,31955.92,31164.31,31520.07,34012.24,2021/07/17
3,2021/07/17,31520.07,32435.00,31108.97,31778.56,35923.72,2021/07/18
4,2021/07/18,31778.57,31899.00,30407.44,30839.65,47340.47,2021/07/19
5,2021/07/19,30839.65,31063.07,29278.00,29790.35,61034.05,2021/07/20
6,2021/07/20,29790.34,32858.00,29482.61,32144.51,82796.27,2021/07/21
7,2021/07/21,32144.51,32591.35,31708.00,32287.83,46148.09,2021/07/22
8,2021/07/22,32287.58,33650.00,31924.32,33634.09,50112.86,2021/07/23
9,2021/07/23,33634.10,34500.00,33401.14,34328.77,39274.14,2021/07/24